// templates/page/style.scss

@import "src/scss/variables", "src/scss/mixins";

.YourMessages {
  width: 100%;
  overflow: hidden;
  align-self: center;

  text-align: center;
}

.skeleton {
  mix-blend-mode: color-burn;
}
