// templates/layout/style.scss

@import "src/scss/variables", "src/scss/mixins";

.App {
  position: relative;
  min-height: 100vh;

  min-height: calc(var(--vh, 1vh) * 100);
  background: repeating-linear-gradient(
    45deg,
    $primary--lighter,
    $primary--lighter 50%,
    $primary--light 50%,
    $primary--light
  );
  background-size: 20px 20px;

  .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    padding: 20px;
    min-height: calc(var(--vh, 1vh) * 100);
  }
}
