// templates/layout/style.scss

@import "src/scss/variables", "src/scss/mixins";

.App {
  position: relative;
  min-height: 100vh;

  min-height: calc(var(--vh, 1vh) * 100);
  @include triangleBackground($secondary--light, $secondary);

  overflow-x: hidden;

  .content {
    position: relative;
    width: 100%;
    padding: 50px 0;
    min-height: calc(var(--vh, 1vh) * 100);

    color: #fff;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-self: center;
    }
  }

  .header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 20px;

    color: #fff;

    z-index: 5;

    .logo {
      color: #fff;
    }

    .toggle-button {
      margin-left: auto;
    }
  }

  .auth-screen {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    transform: translateX(100vw);
    transition: transform 500ms ease;

    z-index: 10;

    &-enter {
      &-active {
        transform: translateX(0);
      }
      &-done {
        transform: translateX(0);
      }
    }

    &-exit {
      &-active {
        transform: translateX(100vw);
      }
    }
  }
}
