// templates/component/style.scss

@import "src/scss/variables", "src/scss/mixins";

.ShowMenuButton {
  font-size: 20px;
  margin: 0 0 0 20px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
