// templates/component/style.scss

@import "src/scss/variables", "src/scss/mixins";

.navigation {
  display: flex;

  &__container {
    flex-grow: 1;
  }

  &__list {
    list-style: none;
    z-index: 2;

    > * {
      a {
        color: #fff;

        transition: color 0.3s ease;
        &:hover {
          color: $primary;
        }
      }
    }
  }

  &__backdrop {
    display: none;
    z-index: 1;
  }

  &__auth-button {
    display: flex;

    > * {
      width: 100%;
    }
  }

  &__welcome {
    display: none;
  }

  @media screen and (max-width: 500px) {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 80px);
    max-width: 300px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    padding: 25px;

    position: absolute;
    top: 0;
    left: 0;

    background-color: $secondary;

    transform: translateX(-100%);
    transition: transform 0.5s ease;

    z-index: 2;

    &__list {
      flex-grow: 1;
      margin: 0;
      padding: 0;
    }

    &__welcome {
      display: block;
      padding-bottom: 5px;
      margin-bottom: 40px;

      border-bottom: 1px solid #fff;
    }

    &-enter {
      &-active {
        .navigation {
          transform: translateX(0);
        }
      }
      &-done {
        .navigation {
          transform: translateX(0);
        }
      }
    }

    &-exit {
      &-active {
        .navigation {
          transform: translateX(-100%);
        }
      }
    }
  }

  @media screen and (min-width: 501px) and (max-width: 767px) {
    justify-content: flex-end;
    &__list {
      width: calc(100vw - 80px);
      max-width: 300px;
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      margin: 0;
      padding: 25px;

      position: absolute;
      top: 0;
      left: 0;

      background-color: $secondary;

      transform: translateX(-100%);
      transition: transform 0.5s ease;
    }

    &-enter {
      &-active {
        .navigation {
          &__list {
            transform: translateX(0);
          }
        }
      }
      &-done {
        .navigation {
          &__list {
            transform: translateX(0);
          }
        }
      }
    }

    &-exit {
      &-active {
        .navigation {
          &__list {
            transform: translateX(-100%);
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    &__backdrop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);

      background-color: rgba(0, 0, 0, 0);
      transition: background-color 0.5s ease;
    }

    &__list {
      > * {
        margin-bottom: 10px;
        font-size: 20px;

        &::before {
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          margin-right: 0.5em;
          margin-bottom: 0.1em;

          border-top: 0.3em solid transparent;
          border-bottom: 0.3em solid transparent;
          border-left: 0.6em solid $primary;
        }
      }
    }

    &-enter {
      .navigation {
        &__backdrop {
          display: block;
        }
      }
      &-active {
        .navigation {
          &__backdrop {
            display: block;
            background-color: rgba(0, 0, 0, 0.6);
          }
        }
      }
      &-done {
        .navigation {
          &__backdrop {
            display: block;
            background-color: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }

    &-exit {
      .navigation {
        &__backdrop {
          display: block;
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
      &-active {
        .navigation {
          &__backdrop {
            display: block;
            background-color: rgba(0, 0, 0, 0);
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0 20px;

    &__list {
      display: flex;
      margin: 0;
      padding: 5px 0 5px 20px;

      border-left: 1px solid #fff;

      > * {
        margin-right: 30px;
      }
    }
  }
}
