// templates/component/style.scss

@import "src/scss/variables", "src/scss/mixins";

.MessagesList {
  text-align: left;
}

.list {
  &.viewed {
    .list__item {
      opacity: 0.6;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;

    color: #fff;
    background-color: rgba(#000, 0.4);

    > div {
      margin-left: auto;
    }

    &-link {
      margin-right: 5px;
    }

    &-time {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 0.7em;
    }
  }

  &__title {
    margin-top: 20px;

    color: #fff !important;

    font-size: 18px !important;
  }
}

.empty {
  padding: 8px 16px;

  color: #fff;
  background-color: rgba(#000, 0.4);

  opacity: 0.6;
}
