// templates/component/style.scss

@import "src/scss/variables", "src/scss/mixins";

.Logo {
  margin-bottom: 0;

  color: inherit;

  font-size: 1.4em;
  font-weight: 600;

  svg {
    display: inline-block;
    height: 1em;
    margin-right: 0.5em;
    margin-bottom: -0.2em;

    fill: #fff;
  }
}
