// templates/page/style.scss

@import "src/scss/variables", "src/scss/mixins";

.CreateMessage {
  align-self: center;
}

.form-animation {
  transform: translateX(0);
  transition: transform 300ms ease-in;

  &-enter {
    &-active {
      transform: translateX(0);
    }
  }

  &-exit {
    &-active {
      transform: translateX(-100vw);
    }
    &-done {
      transform: translateX(-100vw);
    }
  }
}
