// templates/component/style.scss

@import "src/scss/variables", "src/scss/mixins";

.CreateMessageForm {
  text-align: center;

  .title {
    color: #fff;
    text-decoration: underline $primary;
  }

  .subtitle {
    color: #fff;
    font-size: 1.2em;
  }

  .footnote {
    color: #fff;
  }

  .narrow {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
