// templates/component/style.scss

@import "src/scss/variables", "src/scss/mixins";

.LoadingMessage {
  text-align: center;
  mix-blend-mode: color-burn;
}

.title {
  h3 {
    width: 300px !important;
    height: 38px !important;
    margin: 0 auto;
  }
}

.button {
  width: 100% !important;
  max-width: 450px !important;
}
