// templates/component/style.scss

@import "src/scss/variables", "src/scss/mixins";

.CreateMessageConfirm {
  text-align: center;

  .narrow {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.buttons-flex {
  display: flex;
  margin: 18px -12px;

  > * {
    margin: 6px 12px;
  }

  @media screen and (min-width: 501px) {
    > * {
      width: calc(50% - 12px);
    }
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;
    .create-button {
      width: calc(100% - 24px);
    }
  }
}
