// templates/layout/style.scss

@import "src/scss/variables", "src/scss/mixins";

.Default {
  display: flex;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);

  position: relative;

  @include triangleBackground($secondary--light, $secondary);

  @media screen and (max-width: 999px) {
    flex-direction: column-reverse;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-grow: 1;

  position: relative;

  background-color: #fffb;

  @media screen and (max-width: 999px) {
    margin-top: 50px;
  }

  @media screen and (min-width: 1000px) {
    max-width: 700px;
  }
}

.logo {
  color: #fff;

  &__container {
    flex-grow: 1;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  font-size: 20px;

  @media screen and (min-width: 1000px) {
    font-size: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 40px;
  }
}

.copy {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);

  color: $secondary;

  white-space: pre;

  a {
    color: $secondary;
    font-weight: bold;
    text-decoration: underline $primary;
  }
}
