@import "./variables", "./mixins";

.wrapper {
  width: 100%;
  max-width: 650px;
  padding: 20px;
  margin: 0 auto;

  &--narrow {
    max-width: 450px;
  }
}

.underline-link {
  @include underline();

  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

.title,
.subtitle,
.footnote {
  color: #fff !important;

  &--secondary {
    color: $secondary !important;
  }

  .underline {
    @include underline();
  }
}

.title {
  &:not(.title--no-underline) {
    @include underline();
  }
}

.subtitle {
  font-size: 1.2em;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 32px !important;
  }
}

.ant-list-empty-text {
  padding: 0 !important;
}
