@import "./variables", "./mixins";

.wrapper {
  width: 100%;
  max-width: 650px;
  padding: 20px;
  margin: 0 auto;

  &--narrow {
    max-width: 450px;
  }
}

.underline-link {
  @include underline($primary);

  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}
